/* table setting*/
td, th {
  border: 1px solid #ddd;
  padding: 8px; 
}
tr:nth-child(odd){background-color: #f0e2c2;}

tr:hover {background-color: #ffC0cb;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
table {
  border-collapse: collapse;
}
/*p setting*/
p {
  line-height: 1.6em;
  margin: 1.6em 0;
}
li {
  line-height: normal;
}
